body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f9;
    margin: 0;
    padding: 0;
}

.container {
    width: 80%;
    margin: 50px auto;
    padding: 10px;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h1 {
    text-align: center;
    color: #333;
}

.index-table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

.index-table thead {
    background-color: #007BFF;
    color: #fff;
}

.index-table th, .index-table td {
    padding: 10px;
    text-align: left;
    border: 1px solid #ddd;
}

.index-table tr:nth-child(even) {
    background-color: #f9f9f9;
}

.index-table tr:hover {
    background-color: #000000;
    color: white;
}
